.search {
  .am-navbar {
    .am-navbar-left {
      width: 20% !important;
      flex: 0 0 !important;
      padding: 15px;
    }

    .am-navbar-title {
      flex: 1 1 !important;

      .am-search {
        width: 100% !important;
      }
    }

    .am-navbar-right {
      flex: 0 0 !important;
      margin-right: 0;
    }
  }

  
}
